/* Styles for changing background colors */
.mat-toolbar {
    background-color: #3498db; /* Change the background color of the toolbar */
  }
  
  .mat-sidenav {
    background-color: #e0e0e0; /* Change the background color of the sidebar */
  }
  
  .mat-nav-list a {
    color: #333; /* Change the text color of the sidebar links */
  }
  .app-title {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #d2cece;
  }
  
  .profile-button {
    margin-left: auto; /* Align the profile dropdown to the right */
  }