
<div class="container">
  <h3 class="dashboard-title">Dashboard</h3>
  <div class="box">
    <canvas #barChart></canvas>
  </div>

  <div class="box" style="display: flex; justify-content: space-between;">
    <div style="width: 45%;">
      <canvas #pieChart></canvas>
    </div>
    
    <div style="width: 50%; ">
      <div class="box" style="position: relative;">
        <canvas #printExportChart></canvas>
        <div class="button-container">
          <button id="exportButton">Export Chart</button> 
          <button id="printButton">Print Chart</button>
        </div>
      </div>
    </div>
  </div>
</div>

